# --- Environments ---
# Folders created by venv, virtualenv, or conda
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# --- Python Artifacts ---
# Compiled python files
__pycache__/
*.py[cod]
*$py.class
*.so

# --- TensorFlow & Data ---
# If you save models or logs, ignore the heavy stuff
logs/
*.ckpt
*.h5
*.pb
*.tflite
*.npy
*.npz

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Distribution / Packaging ---
# If you ever build your own package
dist/
build/
*.egg-info/

# --- OS Specific ---
.DS_Store
Thumbs.db